@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100%;
    background-color: darkgrey;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte2);
    
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps; /*Deixa todas em maiusculo so que a primeira letra é de cada palavra é maior do que as outras*/

    /* text-transform: uppercase; Deixa todas as letras em maiusculo e do mesmo tamanho*/
    font-size: 9vw; /*Deixa o tamanho da letra variando com o tamanho da tela*/   
}

header > p{
    padding-bottom: 50px;
    font-size: 2.8vh;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}

section{
    padding: 10% 0 10% 30px;
    line-height: 2em; /*Tamanho entre as linhas*/
    font-family: var(--fonte3);
    font-size: 3vw;    
}

section > p{
    padding-bottom: 2em;
}


.normal{
    background-color: white;
    color: black;
}
.imagem{
    background-color: rgb(58, 68, 58);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.432);
    background-size: cover;
    background-attachment: fixed;
}

.imagem > p{
    display: inline-block; /*Para deixar a borda adaptavel com o tamanho da letra*/
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 0px black;
}

#img01{
    background-image: url(../pacote-d012/imagens/background001.jpg);
    background-position: right center;
    
}
#img02{
    background-image: url(../pacote-d012/imagens/background002.jpg);
    
}


footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}